<app-server></app-server>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<br>
{{allowNewServer}}
<p [ngStyle]="{'background-color':getColor()} ">{{'Server'}} with ID {{serverId}} is {{serverStatus}} </p>

<p *ngIf="serverCreated; else noserver" style="background-color: mistyrose">{{serverCreationStatus}}</p>
<ng-template #noserver>
<p> No Server Created!!</p>  
</ng-template>
<label> Server Name</label>
<input type="text" class="form-control" (input)="onUpdateServer($event)">
<p> {{serverName}}</p>
<br>
<input type="text" class="form-control" [(ngModel)]="serverName2Way">
<p> {{serverName2Way}}</p>
<br><br>